.matt-icon {
    font-size: 150px;
    margin-right: 125px;
}
.fun-row {
    padding: 15px;
}
.fun-message-green {
    color: green;
}
.fun-message-blue {
    color: blue;
}
.fun-message-red {
    color: red;
}